@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');


*{
	box-sizing: border-box;
}
body
{
	background-color: #FED8B8;
}
h2
{
	font-family: 'Permanent Marker', cursive;
}
h3
{
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}
.pageTop
{
	background-color: #F2E9D6;
	text-align: center;
	padding: 25px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 40px;
	font-family: 'Permanent Marker', cursive;
}
.container
{
	width: 50%;
	padding: 25px;
	margin: auto;
	text-align: center;
}
.col-25
{
	float:left;
	width: 25%;
	margin-top: 10px;
	
}

.col-75
{
	float:left;
	width:75%;
	margin-top:10px;
	
}
.col-left
{
	width: 50%;
	margin: auto;
	font-family: 'Permanent Marker', cursive;
}
.col-right
{
	float:right;
	width: 50%;
	margin-top: 10px;
}
.row:after
{
	content:"";
	display: table;
	clear: both;
}
.form_style
{
	border-radius: 25px;
	background-color: #FFF7E5;
	padding: 50px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;

}
Input[type=text]
{
	width: 100%;
}

input[type=submit]
{
	display: block;
	margin: 0 auto;
	background-color: #F0B01E;
	cursor: pointer;
	width: 2in;
	border-radius: 15px;
	padding: 5px;
	margin-top: 10px;
	font-family: 'Shadows Into Light', cursive;
}
input[type=submit]:hover
{
	background-color: #FACE6B;
}
select
{
	display: none;
	visibility: hidden;
}